body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://previews.123rf.com/images/bluemoon1981/bluemoon19811704/bluemoon1981170400033/76461965-fondo-m%C3%A9dico-abstracto-digital-fondo-abstracto-adecuado-para-la-salud-y-tema-m%C3%A9dico.jpg");
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  list-style: none;
  color: black;
}

select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}
button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #0ED2F7;

  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}


.card {
  width: 200px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  border-radius: 60px
}

.DiaryCard h3::after {
  margin-left: 5px;
}

.AddDiaryPage,
.AddDiaryLog,
.EditDiaryPage{
  background: #a1ffce;



 
  

  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}
.EditDiaryPage {
  background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  

  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}





.AddDiaryPage form,
.AddDiaryLog form,
.EditDiaryPage form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddDiaryPage button,
.AddDiaryLog button{
  display: block;
}
.DiaryLogCard {
  background-color: #dfeef9;
}